@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

@using PizzaSelector.Models

<form method="post">
	<div>
		<select asp-for="SelectedPizzaType" asp-items="Html.GetEnumSelectList<PizzaType>()" class="form-select">
		</select>

		<button type="submit" class="btn btn-primary">
			Select Pizza
		</button>
	</div>
</form>

@if (Model.FirstLoad && Model.SelectedPizza != null)
{
	<img src="@Model.SelectedPizza.ImagePath" alt="Pizza Image" class="img-fluid" width="300" />
	<h2>@Model.SelectedPizza.Name</h2>
	<p>@Model.SelectedPizza.Description</p>

	@if (Model.SelectedPizza.IsGlutenFree)
	{
		<p><i><b>Gluten Free</b></i></p>
	}
	
	@if (Model.SelectedPizza.IsVegetarian)
	{
		<p><i><b>Vegetarian</b></i></p>
	}

	<p><b>Ingredients:</b></p>
	@foreach (var ingredient in Model.SelectedPizza.Ingredients)
	{
		<p>@ingredient</p>
	}

	<p><b>Prices:</b></p>
	@foreach (var price in Model.SelectedPizza.Prices)
	{
		<p>@(price.Size) - $@price.Price</p>
	}

	<p><i>Prepared by: <b>@Model.SelectedPizza.PizzaChef</b></i></p>
}